datalake-databricks-resource/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "datalake-databricks-resource"
		},
		"datalake_databricks_datafactory_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'datalake_databricks_datafactory'"
		},
		"datalake_databricks_datafactory_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0302-033729-mncrv507"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/datalake_databricks_datafactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3651805846562193.13.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('datalake_databricks_datafactory_accessToken')]"
					},
					"existingClusterId": "[parameters('datalake_databricks_datafactory_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_pipeline_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "inbound_bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/carloseduardo_lps@outlook.com/pipeline_datalake_databricks_azure/notebooks/datalake_pipeline_inbound_bronze"
						},
						"linkedServiceName": {
							"referenceName": "datalake_databricks_datafactory",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Inbound_silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "inbound_bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/carloseduardo_lps@outlook.com/pipeline_datalake_databricks_azure/notebooks/datalake_pipeline_inbound_silver"
						},
						"linkedServiceName": {
							"referenceName": "datalake_databricks_datafactory",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_databricks_datafactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_pipeline_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "datalake_pipeline_ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2025-03-04T15:50:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/datalake_pipeline_ingestion')]"
			]
		}
	]
}